<div class="home-page static-pages">
  <div class="hero-home">
    <div class="container">
      <div class="owl-carousel owl-theme" id="hero-slide">
        <div class="slide1">
          <p class="home-slide-title-1 enjoy-css"><%= t "home.slide.slide1_title1" %></p>
          <p class="home-slide-title-2"><%= t "home.slide.slide1_title2" %></p>
          <i class="fa fa-angle-up" aria-hidden="true"></i>
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </div>

        <div>
          <p class="home-slide-title-2"><%= t "home.slide.slide2_title2" %></p>
          <p class="home-slide-title-1"><%= t "home.slide.slide2_title1" %></p>
          <i class="fa fa-angle-up" aria-hidden="true"></i>
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div>