<header>
  <h3>编辑图书</h3>
</header>
<%= simple_form_for [:admin, @book] do |f| %>
  <%= render partial: "form", locals: { f: f } %>
  <%= f.submit "更新图书", data: { disable_with: "正在更新" }, class: "btn btn-primary" %>
<% end %>
