<div class="col-sm-4">
  <div class="box-outer">
    <div class="box">
      <div class="frame">
        <div class="caption"></div>
        <!--caption-->
        <div class="img-frame">
          <img src="<%= issue.cover.medium.url %>" class="img-reponsive" alter="<%= issue.title %>"/>
        </div>
        <!--img-frame-->
      </div>
      <!--frame-->
      <div class="text-column">
        <span></span>
        <h3><%= issue.title %></h3>
        <em><%= "《三联生活周刊》由中国出版集团下属的生活•读书•新知三联书店主办，是一份具有良好的声誉，在主流人群中有着广泛影响力的综合性新闻和文化类周刊。" %></em>
        <div class="review-start">
          <div class="rating_stars">
            <div class="rating_down">
              <div class="rating_up" style="width:100%;"></div>
            </div>
          </div>
        </div>
        <!--review-start-->
      </div>
      <!--text-column-->
    </div>
    <!--box-->
  </div>
  <!--box-outer-->
</div>
<!--col-sm-4-->