<header>
  <h3>编辑资料</h3>
</header>
<%= simple_form_for [:admin, @doc] do |f| %>
  <%= render partial: "form", locals: { f: f } %>
  <%= f.submit t("update") + t("blank") + t("doc"),
    data: { disable_with: "资料更新中……" },
    class: "btn btn-primary" %>
<% end %>
