@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker3";
@import "select2";
@import "select2-bootstrap";
@import "font-awesome";
@import "jquery-ui";
@import "responsive";

header {
  @extend .page-header;

  position: relative;
  padding-bottom: 0px;

  &:first-child {
    margin-top: 20px;
  }
}

ul.actions {
  @extend .list-unstyled;

  @extend .list-inline;

  bottom: -2px;
  right: 2px;
  text-aligh: right;
}

a.new, a.edit, a.delete, a.index {
  @extend .btn;

  &:before {
    font-family: "FontAwesome";
    padding-right: 0.5em;
  }
}

a.new {
  @extend .btn-success;

  &:before {
    @extend .fa-plus;
  }
}

a.edit {
  @extend .btn-primary;

  &:before {
    @extend .fa-pencil;
  }
}

a.delete {
  @extend .btn-danger;

  &:before {
    @extend .fa-trash;
  }
}

a.index {
  @extend .btn-info;

  &:before {
    @extend .fa-files-o;
  }
}

form {
  max-width: 500px;
}

body {
  padding-top: 70px;
  font-size: 18px;
}

.page-header {
  position: relative;
  padding-bottom: 0px;

  &:first-child {
    margin-top: 20px;
  }

  h1, h2, h3, h4, h5, h6 {
    max-width: 55%;
  }
}

#docs li, #states li {
  padding-bottom: 10px;
}

.sortable .sortable_icon {
  border: none;
  color: #ECECEC;
  font-size: 20px;
  cursor: move;
  padding-right: 10px;
}

.submenu {
  margin-bottom: 10px;
}

a.list {
  @extend .btn;

  @extend .btn-info;
}

a.list:before {
  font-family: "FontAwesome";
  padding-right: 0.5em;
  content: "\f0c5";
  box-sizing: border-box;
}
