/*
 *= require app_imports
 *= require bootstrap/dist/css/bootstrap.min
 *= require propellerkit/dist/css/propeller.min
 *= require propellerkit/components/datetimepicker/css/bootstrap-datetimepicker
 *= require propellerkit/components/datetimepicker/css/pmd-datetimepicker
 *= require owl.carousel/dist/assets/owl.carousel.min
 *= require bxslider/dist/jquery.bxslider
 *= require font-awesome
 *= require simplemde/dist/simplemde.min
 *= require select2/dist/css/select2.min
 *= require select2-bootstrap-theme/dist/select2-bootstrap.min
 *= require propellerkit/components/select2/css/pmd-select2
 *= require_tree ./users
*/

header {
  @extend .page-header;

  position: relative;
  padding-bottom: 0px;

  &:first-child {
    margin-top: 20px;
  }
}

ul.actions {
  @extend .list-unstyled;

  @extend .list-inline;

  bottom: -2px;
  right: 2px;
  text-aligh: right;
}

a.new, a.edit, a.delete, a.index {
  @extend .btn;

  &:before {
    font-family: "FontAwesome";
    padding-right: 0.5em;
  }
}

a.new {
  @extend .btn-success;

  &:before {
    @extend .fa-plus;
  }
}

a.edit {
  @extend .btn-primary;

  &:before {
    @extend .fa-pencil;
  }
}

a.delete {
  @extend .btn-danger;

  &:before {
    @extend .fa-trash;
  }
}

a.index {
  @extend .btn-info;

  &:before {
    @extend .fa-files-o;
  }
}

form {
  max-width: 500px;
}

body {
  padding-top: 70px;
  font-size: 18px;
}

.page-header {
  position: relative;
  padding-bottom: 0px;

  &:first-child {
    margin-top: 20px;
  }

  h1, h2, h3, h4, h5, h6 {
    max-width: 55%;
  }
}

ul.actions {}

#docs li, #states li {
  padding-bottom: 10px;
}

.sortable .sortable_icon {
  border: none;
  color: #ECECEC;
  font-size: 20px;
  cursor: move;
  padding-right: 10px;
}

.submenu {
  margin-bottom: 10px;
}

a.list {
  @extend .btn;

  @extend .btn-info;
}

a.list:before {
  font-family: "FontAwesome";
  padding-right: 0.5em;
  content: "\f0c5";
  box-sizing: border-box;
}
