$white: #fff;
$navbar-border-top: rgba(255, 255, 255, 0.34);
$navbar-border-container: rgba(255, 255, 255, 0.16);
$navbar-form-control-background: rgba(255, 255, 255, 0.24);
$navbar-form-control-box-shadow: rgba(0, 0, 0, 0.2);
$navbar-form-control-color: rgba(255, 255, 255, 0.34);
$navbar-form-control-focus: rgba(255, 255, 255, 0.87);
$navbar-anchor-color: #515b6b;
$navbar-dropdown-anchor-after-color: #4d42a9;
$navbar-fixed-top-border-color: #19388a;
$navbar-fixed-top-shadow-color: rgba(0, 0, 0, 0.1);
$navbar-pmd-svg-icon-fill: #424c5c;
$navbar-search-form-border: rgba(66, 133, 244, 0.54);
$navbar-search-shadow: rgba(66, 133, 244, 0.12);
$navbar-search-svg: #7e8899;
$navbar-fixed-top-form-focus: rgba(255, 255, 255, 0.74);
$navbar-fixed-top-shadow: rgba(0, 0, 0, 0.12);
$navbar-sidebar-background: #272f3c;
$navbar-right-icon-background: rgba(0, 0, 0, 0.2);
$navbar-custom-border: rgba(255, 255, 255, 0.08);
$navbar-custom-background: rgba(0, 0, 0, 0.16);
$navbar-sidebar-open-background: rgba(0, 0, 0, 0.34);
$navbar-nav-color: #b4afaf;
$aztec-approx: #0c1a1e;
$mountain-mist-approx: #999;
$delta-approx: #a0a3a4;
$blaze-orange-approx: #ff670f;
$black: #000;
$swiss-coffee-approx: #d9d6d6;
$stack-approx: #8f8f8f;
$gallery-approx: #ededed;
$background-book: rgba(246, 246, 246, 0.89);
$frame-start: #fffdfd;
$frame-end: #edeff0;
$frame: linear-gradient(120deg, $frame-start 25%, $frame-end 100%);
$frame-inverse: linear-gradient(120deg, $frame-end 0%, $frame-start 100%);
$relate-book-start: #f3e7e9;
$relate-book-mid: #e3eeff;
$relate-book: linear-gradient(to top, $relate-book-start 0%, $relate-book-mid 99%, $relate-book-mid 100%);

$send-req-start: #7de2fc;
$send-req-end: #b9b6e5;
$send-req: linear-gradient(35deg, $send-req-start 0%, $send-req-end 100%);
$background-book: rgb(249, 249, 249);
$shadow-light: rgba(0, 0, 0, 0.12);
$shadow-normal: rgba(0, 0, 0, 0.24);
$shadow-dark: rgba(0, 0, 0, 0.3);
$reply-toggle: #f4f4f4;
$reply-toggled: #e3e3e3;
$time-ago: #8f8f8f;
$blog-title: #850000;
$header: rgba(162, 86, 60, 0.74);
$star: #ded33a;
$desert-storm-approx: #f8f8f8;
$pesto-approx: #8a6d3b;
$champagne-approx: #faebcc;
$apple-blossom-approx: #a94442;
$oyster-pink-approx: #ebccd1;
$killarney-approx: #3c763d;
$beryl-green-approx: #d6e9c6;
$pink: #f7639a;
$menu-profile: #4c9cef;
$menu-profile-box-shadow-background: rgba(90, 91, 95, 0.15);
$comment-gray: #9b9b9b;
$ebony-clay-approx: #1e293d;
$concrete: #f2f2f2;
$fuscous-gray-approx: #555;
$mine-shaft-67: rgba(50, 50, 50, 0.67);
$mercury-approx: #e7e7e7;
$desert-storm-approx: #f8f8f8;
$concrete-approx: #f3f3f3;
$bg-dashboard-header: #0b1a33;
$white-opacity-10: rgba(255, 255, 255, 0.1);
$white-opacity-50: rgba(255, 255, 255, 0.5);
$white-opacity-0: rgba(255, 255, 255, 0);
$brown-dark: #54423f;
$brown-primary: #6c5653;
$brown-light: #957671;
$brown-lighter: #ba9691;
$author-text: #d4cec9;
$book-text: #cbc6c5;
$author-background: #876a67;
$book-background: #beb4ad;

//fonts
$font-open-sans: Open Sans;
$font-sans-serif: sans-serif;
$font-material: Material icons;
$font-lato: Lato;

//backgrounds
$aqua: #00bdbd;
$aquamarine: #7fffd4;
