<footer class="container" style="margin-top: 100px;">
  <p class="text-center">
  <%= link_to t("faq"), faq_path %> |
  <%= link_to "中文版", controller: controller_name,
    action: action_name, locale: "zh-CN" %>
  <%= link_to "English", controller: controller_name,
    action: action_name, locale: "en" %>
  </p>
  <p class="text-center">
    Copyright © 2018 
  </p>
</footer>
